.newsletter-container {
    background :linear-gradient(30deg, #101010, #250c5c);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
  }
  
  .newsletter-title {
    font-size: 24px;
    margin-bottom: 10px;
    background: linear-gradient(30deg, #c850c0, #ffcc70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;

  }
  
  .newsletter-label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .newsletter-input {
    padding: 7px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color:grey;
    margin-left: 10px;
  }
  
  .label-class {
    display: inline;
  }
  
  .newsletter-button {
    background-color: white;
    color:#250c5c;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  