.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:linear-gradient(30deg, #f8f4f4, #51514e);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
width: 75px;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-icon {
    display: block;
    color: white;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-links.show {
    display: flex;
  }
}
